{% extends "home.html" %}
{% load url_target_blank %}



{% block content %}


<div class="row" style="padding-left:2%; padding-right:20%">
	<div class="col-md">
			<table class="table table-striped">
 			<thead>
				<tr>
					<th scope="col"></th>
					<th>Autor</th>
					<th>Nazwa</th>
					<th>Cena</th>
					<th>Link</th>
					<th colspan="2"><a class="btn btn-sm btn-info" href="/gifts/new_gift">Dodaj nowy prezent</a></th>

				</tr>
  			</thead>
	  <tbody>

				{% for gift in gifts %}


				<tr>
					<th scope="row"></th>
					<td>{{gift.author_id}}</td>
					<td>{{gift.name}}</td>
					<td>{{gift.price}}</td>
					<td>{{gift.link|urlizetrunc:15|url_target_blank}}</td>

					<td><a class="btn btn-sm btn-info" href="{% url 'update_gift' gift.id %}">Update</a></td>

					<td><a class="btn btn-sm btn-danger" href="{% url 'delete_gift' gift.id %}">Delete</a></td>
				</tr>
				{% endfor %}
  </tbody>

			</table>
		</div>
</div>


{% endblock %}

